@charset "utf-8";

body {
    background-color: white;
}

html { 
    font-size: 16px; 
}

img {
    max-width: 100%;
}

h1 {
    font-family: congenial, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.5rem;
}

h2 { 
    font-family: congenial, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.2rem;
}

h3 {
    font-family: congenial, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.1rem;
}

p, table, button, footer, form {
    font-family: "source-sans-3", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1rem;
}



/*............HOME PAGE ..........*/
.outer {
    max-width: 1000px;
    margin: 0 auto;
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas: "header header header header" "menu menu menu menu" "main main main main" "footer footer footer footer";
    grid-template-rows:  100px 50px minmax(600px, auto) 100px;
}

#logo {
    width: 120px; 
    height: auto;
    margin-top: 20px;
    margin-left: 20px;
}   

header {
    grid-area: header;
    grid-column: 1/5;
    width: 99.5%;
    height: 100%;
    border: solid 2px #0daaec;  
}

nav {
    grid-area: menu;
    width: 100%;
    height: 50px;
    grid-column: 1/5;
    grid-row: 2; 
}

nav ul {
    list-style-type: none;
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    margin-left: 450px;
    margin-top: -30px;
    font-family: congenial, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1rem;
}

nav a {
    color: #5c7ff4;
    text-decoration: none;
}

nav a:hover {
    background-color: #a990f1;
    color: white;       
}

main {
    grid-area: main;
    display: grid;
    width: 100%;
    height: 600px;
    grid-column: 1/5;
    grid-row: 2/4;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 540px auto;
    margin-top: 4px;
   
}

.leftcolumn {
    grid-column: 1/3;
    grid-row: 1/2;
    background-color: #0daaec;   
    margin-right: -20px;
}

.leftcolumn h1 {
    margin-left: 20px;
    color: white;
}

.leftcolumn p {
    margin-left: 20px;
    margin-right: 40px;
    color: white;
}

.rightcolumn {  
    grid-column: 3/4;
    grid-row: 1/2;
    display: flex;
    justify-content: center;
}

.rightcolumn img {
    height: auto;
    width: auto;
    
  
}

.bottompage {
    display: grid;
    grid-column: 1/4;
    grid-row: 4;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 180px;
    border-top: solid 1px white;  
    
}

#boydog {
   grid-column: 1;
   grid-row: 1;
   margin-top: -15px;
   width: 100%;


}

#couple {
    grid-column: 2;
    grid-row: 1;
    margin-top: -15px;
   width: 100%;


}

#feelings {
    grid-column: 3;
    grid-row: 1;
    margin-top: -15px;
    width: 100%;
 
}

.bottompage a {
    position: absolute;
    text-align: center;
    text-decoration: none;
    margin-top: 80px;
    color:#5c7ff4;
    background-color: white;
    opacity: 85%;
    padding: 3px;
}

#kids {
    margin-left: 100px;
}


#parents {
    margin-left: 80px;
}

#feel {
    margin-left: 130px;
}

.bottompage a:hover {
   
    color: white;
    background-color: #a990f1;
    opacity: 100%;       
}

footer {
    grid-area: footer;
    display: grid;
    grid-column: 1/5;
    grid-row: 5;
    width: 100%;
    height: 100px;
    font-size: 1rem;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    background-color:  #f6f5ff;
    border-top: solid 2px #0daaec;  
    color:#5c7ff4; 
   
}

#info {
    list-style-type: none;
    grid-column: 1;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    column-gap: 40px;
    margin-bottom: 5px;
    text-align: left;
    color:#5c7ff4;  
}

#policies {
    list-style-type: none;
    grid-column: 3;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    column-gap: 40px;
    margin-bottom: 5px;
    justify-content: center;
    text-align: right;
    color:#5c7ff4; 
    margin-right: 30px;
}

footer p {
    justify-content: center;
    text-align: center;
    margin-bottom: 5px;
    margin-top: 5px; 
    color:#5c7ff4;  
    
}

/*............FEELINGS PAGE ..........*/

#feelingspage {
    display: grid;
    grid-column: 1/5;
    grid-row: 2/5;
    width: 100%;
    height: 800px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 40px 145px auto auto;
    background-color:rgb(238, 248, 252);
    margin-top: 4px;
}

#feelingsheadings {
    grid-column: 1/3;
    grid-row: 1/3;
    background-color: #0daaec;      
    color: white;

}

#feelingsheadings h1, h2 {
    margin-left: 20px;
    margin-right: 20px;   
}

#paperfaces {

    grid-column: 3/4;
    grid-row: 1/3;
    margin-right: 1px;
}

#feelingsintro  {
    margin: 20px;
    text-align: left;
    color: white;
}

#feelingspage h3 {
    text-align: center;
    color:#0daaec; 
    font-size: 1rem;
}

#feelingspage p {
    text-align: justify;
}

#feelingsleft {
    grid-column: 1;
    grid-row: 3;
    margin: 20px;
    color: rgb(95, 100, 100);
}

#feelingscenter {
    grid-column: 2;
    grid-row: 3;
    margin: 20px;
    color: rgb(95, 100, 100);
}

#feelingsright {
    grid-column: 3;
    grid-row: 3;
    margin: 20px;
    color: rgb(95, 100, 100);
}

#feelingsbottomleft {
    grid-column: 1;
    grid-row: 4;
    margin: 20px;
    color: rgb(95, 100, 100);
}

#feelingsbottomcenter {
    grid-column: 2;
    grid-row: 4;
    margin: 20px;
    color: rgb(95, 100, 100);
}

#feelingsbottomright {
    grid-column: 3;
    grid-row: 4;
    margin: 20px;
    color: rgb(95, 100, 100);
}

/*............CONTACT PAGE ..........*/

#contactmain {
    display: grid;
    grid-column: 1/5;
    grid-row: 2/5;
    width: 100%; 
    height: 700px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 80px auto auto;
    background-color:rgb(238, 248, 252);
}

#contactmain h1 {
    grid-column: 1/5;
    grid-row: 1/2;
    padding: 20px;
    font-size: 1.5rem;
    background-color: #0daaec;  
    color: white;
    margin-left: 0;
    margin-right:1px;
    margin-top: 0;
    margin-bottom: 0;
}

#contactimage {
    width: 90%;
    height: auto;
    grid-column: 1/2;
    margin-top: 50px;
    margin-left: 40px;
    opacity: 85%;
}

#rightcolumn {
    grid-column: 2/3;
    grid-row: 2/3;
}

.webform {
    grid-column: 2/4;
    grid-row:2/3;
    margin-top: 35px;
}

form {
    color: darkslategrey; 
    margin: 0px 20px;
    font-size: 0.8rem;
    display: flex;
    width: 100%;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}  

fieldset {
    border: none;
    width: 80%;
}

legend {
    color:#5c7ff4;
    font-size: 1.2rem;
    margin: 10px 0px;
}

input[type=text] {
    box-sizing: border-box;
    padding: 5px;
    margin-bottom: 15px;
    border: 1px solid  #0daaec;  
    width: 100%;
    resize: vertical;
}

textarea {
    box-sizing: border-box;
    padding: 15px;
    height: 110px;
    border: 1px solid  #0daaec;  
    width: 100%;
}

input[type=submit] {
    box-sizing: border-box;
    background-color: #0daaec;  
    color: white;
    margin-top: 22px;
    padding: 10px;
    border: none;
    width: 30%;
}

#contactfooter {
    margin-top: -10px;
}

/*............KID'S'S RESOURCE PAGE ..........*/
#kidresourcesmain {
    display: grid;
    grid-column: 1/5;
    grid-row: 2/5;
    width: 100%;
    height: 800px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 40px 150px auto auto auto;
    background-color:rgb(238, 248, 252);
}


#kidresourcesheading {
    grid-column: 1/3;
    grid-row: 1/3;
    background-color: #0daaec;      
    color: white;
}

#kidresourcesheading  h1, h2 {
    margin-left: 20px;
    margin-right: 20px;   
}

#kidsimage {
    grid-column: 3/4;
    grid-row: 1/3;
    background-color:#0daaec;
    margin-right: 1px;
}

#childreading {
  width: 100%; 
  height: 100%;
}

#kidresourcesintro  {
   margin: 20px;
    text-align: left;
}


#kidresourcesmain h3 {
    text-align: center;
    color:#0daaec;  
}

#kidresourcesmain p {
    text-align: justify;
}

.columnonekids {
    grid-column: 1;
    grid-row: 3;
    margin: 10px 20px;
    color: rgb(79, 78, 78);
}

.columntwokids {
    grid-column: 2;
    grid-row: 3;
    margin: 10px 20px;
    color: rgb(79, 78, 78);
}

.columnthreekids {
    grid-column: 3;
    grid-row: 3;
    margin: 10px 20px;
    color: rgb(79, 78, 78);
}

/*............PARENT'S RESOURCE PAGE ..........*/

#parentresourcesmain {
    display: grid;
    grid-column: 1/5;
    grid-row: 2/5;
    width: 100%;
    height: 800px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 40px 150px auto auto auto;
    background-color:rgb(238, 248, 252);
}

#parentresourcesheading {
    grid-column: 1/3;
    grid-row: 1/3;
    background-color: #0daaec;      
    color: white;
}

#parentresourcesheading   h1, h2 {
    margin-left: 20px;
    margin-right: 20px;   
}

#parentsimage {
    grid-column: 3/4;
    grid-row: 1/3;
    background-color:#0daaec;
    margin-right: 1px;
}

#dadson {
  width: 100%; 
  height: 100%;
}

#parentresourcesintro  {
   margin: 20px;
    text-align: left;
}


#parentresourcesmain h3 {
    text-align: center;
    color:#0daaec;  
}

#parentresourcesmain p {
    text-align: justify;
}

.columnoneparents {
    grid-column: 1;
    grid-row: 3;
    margin: 10px 20px;
    color: rgb(79, 78, 78);
}

.columntwoparents {
    grid-column: 2;
    grid-row: 3;
    margin: 10px 20px;
    color: rgb(79, 78, 78);
}

.columnthreeparents {
    grid-column: 3;
    grid-row: 3;
    margin: 10px 20px;
    color: rgb(79, 78, 78);
}



/*............MEDIA QUERIES..........*/
@media screen and (max-width: 600px) {

.outer {
    /*grid-template-rows: 70px minmax(500px, auto) 70px;*/
    grid-template-rows: 70px auto 80px 50px;
}

#logo {
    width: 80px;
    height: auto;
}

header {
    width: 99%;
}

nav ul {
    font-size: 0.70rem;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-left: 110px;
    column-gap: 4px;
}   


nav a {
    font-size: 0.7rem;
}

main {
    display: grid;
    width: 100%;
    height: 560px;
    margin: 0 auto;
    grid-template-columns:  100%;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    margin-top: 3px;
}

.leftcolumn {
    grid-column: 1;
    grid-row: 1;
    margin-right: 1px; 
}

.leftcolumn h1 {
    font-size: 1rem;
}

.leftcolumn p {
    font-size: 0.8rem;
    text-align: justify;
}

.rightcolumn {
    grid-column: 1;
    grid-row: 2;
    background-color: #0daaec;  
    margin-top: -6px;
    margin-bottom: -10px;
    margin-right: 1px;
 }

 .rightcolumn img {
    height: 80%;
    width: 100%;
  
    margin-top: 10px; 

}

.bottompage {
    grid-column: 1;
    grid-row: 3;
    margin-top: 10px;
    margin-right: 1px;
   
}

.bottompage a {
    position: absolute;
    text-align: center;
    color:#5c7ff4;
    background-color: white;
    opacity: 85%;
    margin-top: 30px;
    padding: 0;
}

#kids {
    font-size: 0.8rem;
    padding: 0;
    margin-left: 40px;
}

#parents {
    font-size: 0.8rem;
    padding: 0;
    margin-left: 35px;
}

#feel {
    font-size: 0.8rem;
    padding: 0;
    margin-left: 55px;
}

footer {
    grid-row: 4;
    font-size: 0.8rem;

    justify-content: space-evenly; 
    
}

#info {
    margin-top: 20px;
}

#policies {
    margin-top:0;
    margin-left: -20px;
}

/*FEELING PAGE MEDIA QUERIES*/

#feelingspage {
    display: grid;
    width: 100%;
    height: 700px;
    grid-template-columns: 50% 50%;
    grid-template-rows:  140px 150px 150px 150px;
    margin-top: 4px;  
    margin-bottom: -10px;
}

#feelingsheadings {
    grid-column: 1/2;
    grid-row: 1;
    margin: 0;
}

#feelingsheadings h1 {
    margin-left: 10px;
    font-size: 1.1rem;
    margin-top: 2px;
    margin-bottom: 0;
}

#feelingsheadings h2 {
    margin-left: 10px;
    margin-top: 2px;
    margin-bottom: 0;
    font-size: 0.8rem; 

}

#paperfaces {
    grid-column: 2;
    grid-row:  1;
    height: auto;
    padding-top: 15px;
    padding-right: 10px;
    padding-left: 20px;
    border-top: none;
    background-color:#0daaec; 
}

#feelingsintro  {
    margin-left: 10px;
    margin-top: 0px;
    font-size: 0.75rem;
}

#feelingspage p {  
    font-size: .75rem;
    margin-top: 5px;
    line-height: 16px;
}

#feelingspage h3 {
    font-size: .8rem;
    margin: 5px;
}

#feelingsleft {
    grid-column: 1;
    grid-row: 2;
    margin: 5px 10px;
}

#feelingscenter {
    grid-column: 2;
    grid-row: 2;
    margin: 5px 10px;
}

#feelingsright {
    grid-column: 1;
    grid-row: 3;
    margin: 5px 10px;
}

#feelingsbottomleft {
    grid-column: 2;
    grid-row: 3;
    margin: 5px 10px;
}

#feelingsbottomcenter {
    grid-column: 1;
    grid-row: 4;
    margin: 5px 10px;
}

#feelingsbottomright {
    grid-column: 2;
    grid-row: 4;
    margin: 10px;
}

/*KID'S RESOURCES MEDIA QUERIES*/

#kidresourcesmain {
    display: grid;
    width: 100%;
    height: auto;
    grid-template-columns: 50% 50%;
    grid-template-rows:  150px 435px auto;
}

#kidresourcesheading {
    grid-column: 1/2;
    grid-row: 1;
    margin: 0;
}

#kidresourcesheading  h1 {
    margin-left: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 1.1rem;  
}

#kidresourcesheading  h2 {
    margin-left: 10px;
    margin-bottom: 5px;
    margin-top: 5px;
    font-size: 1rem;
}

#kidresourcesintro   {
    margin-left: 10px;
    margin-top: 0px;
    font-size: 0.75rem;
}

#childreading {
    height: 75%;
    width: 75%;
    margin-top: 18px;
    margin-left: 45px;
}

#kidsimage {
    grid-column: 2;
    grid-row: 1;
    border-top: none;
    border-right: solid 2px #0daaec;
    background-color:#0daaec; 
}

.columnonekids {
    grid-column: 1;
    grid-row: 2;
    margin:0;
}

.columnonekids  h3 {
    font-size: 0.8rem;
    margin-top: 10px;
    text-align: center;
}

.columnonekids  p {
    margin-left: 10px;
    margin-right: 10px;
    font-size: 0.8rem;
}

.columntwokids {
    grid-column: 2;
    grid-row: 2;
    margin: 0;
}

.columntwokids h3 {
    font-size: 0.8rem;
    margin-top: 10px;
    margin-bottom: 5px;
}

.columntwokids p {
    margin-left: 10px;
    margin-right: 10px;
    font-size: 0.8rem;
}

.columnthreekids {
    display: grid;
    width: 100%;
    grid-column: 1/3;
    grid-row: 4;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    margin: 0px 10px 10px 0px;
}

.columnthreekids h3 {
    font-size: 0.8rem;
}

.columnthreekids p {
  margin: 10px;
  font-size: 0.8rem;
   
}

#bookonekids {
    grid-column: 1;
    grid-row: 1;
}

#booktwokids {
    grid-column: 2;
    grid-row: 1;
  
}

#bookthreekids {
    grid-column: 1;
    grid-row: 2;
}


#kidsfooter {
    margin-top: 50px;
}

/*PARENT'S RESOURCES MEDIA QUERIES*/

#parentresourcesmain {
    display: grid;
    width: 100%;
    height: auto;
    grid-template-columns: 50% 50%;
    grid-template-rows:  150px 430px auto;
}

#parentresourcesheading {
    grid-column: 1/2;
    grid-row: 1;
    margin: 0;
}

#parentresourcesheading h1 {
    margin-left: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 1.1rem;  
}

#parentresourcesheading h2 {
    margin-left: 10px;
    margin-bottom: 5px;
    margin-top: 5px;
    font-size: 1rem;
}

#parentresourcesintro   {
    margin-left: 10px;
    margin-top: 0px;
    font-size: 0.75rem;
}

#dadson {
    width: 75%;
    height: 80%;
    margin-top: 15px;
    margin-left: 45px;
}

#parentsimage {
    grid-column: 2;
    grid-row: 1;
    border-top: none;
    border-right: solid 2px #0daaec;
    background-color:#0daaec; 
}

.columnoneparents {
    grid-column: 1;
    grid-row: 2;
    margin:0;
}

.columnoneparents  h3 {
    font-size: 0.8rem;
    margin-top: 10px;
    text-align: center;
}

.columnoneparents  p {
    margin-left: 10px;
    margin-right: 10px;
    font-size: 0.8rem;
}

.columntwoparents {
    grid-column: 2;
    grid-row: 2;
    margin: 0;
}

.columntwoparents h3 {
    font-size: 0.8rem;
    margin-top: 10px;
    margin-bottom: 5px;
}

.columntwoparents p {
    margin-left: 10px;
    margin-right: 10px;
    font-size: 0.8rem;
}

.columnthreeparents {
    display: grid;
    width: 100%;
    grid-column: 1/3;
    grid-row: 4;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    margin: 0px 10px 10px 0px;
}

.columnthreeparents  h3 {
    font-size: 0.8rem;
   
}

.columnthreeparents  p {
    margin: 10px;
    font-size: 0.8rem;
   
}

#bookone {
    grid-column: 1;
    grid-row: 1;

}

#booktwo {
    grid-column: 2;
    grid-row: 1;
  
 
}

#bookthree {
    grid-column: 1;
    grid-row: 2;
 
 
}


#parentsfooter{
    margin-top: 50px;
}
/*CONTACT PAGE MEDIA QUERIES*/


#contactmain {
    display: grid;
    width: 100%;
    height: 600px;
    grid-template-columns:  1fr 1fr;
    grid-template-rows: 60px auto;
    margin-top: 4px;
    
}

#contactmain h1 {
    grid-column: 1/3;
    grid-row: 1;
    background-color:#0daaec;
    font-size: 0.9rem;
    padding: 20px 5px 10px 20px;  
    margin-right: 1px;
    
}
#contactcolumn {
    grid-column: 1;
    grid-row: 2;
}

#contactimage {
    grid-column: 1;
    grid-row: 2;
    width: 70%;
    height: auto;
    margin-left: 25px;
    margin-top: 100px;
  
}

#contactform {
    grid-column: 2;
    grid-row: 2;
    background-color: white;
   
}

.webform {
    grid-column: 2;
    grid-row: 2;
 }
 
#contactform h4 {
    font-size: 0.9rem;
}

legend {
    font-size: 0.9rem;   
}

form {
    font-size: 0.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0;
}

input[type=text] {
    margin-bottom: 5px;
}

input[type=submit]  {
   margin-top: 5px;
    font-size: 0.7rem;
    padding: 1px;  
}

#contactfooter {
    margin: 0;
}

#contactfooter p {
    font-size: 0.8rem;
}


}